.nemo_opening_times .on.closed, .nemo_opening_times .off.opening_hours {
    display: none;
}

.nemo_opening_times .logo.off {
    display: none;
}

.nemo_opening_times img {
    display: block;

}

.nemo-opening-times .on.closed, .nemo-opening-times .off.opening_hours {
    display: none;
}

.nemo-opening-times .logo.off {
    display: none;
}

.nemo-opening-times img {
    display: block;
}
